<div style="height: 78vh; width: 100%">
  <div style="display: table-row">
    <div style="display: table-cell;width: 30vw;height:74vh;">
      <div style="width: 100%; background-color: #006495;height: 4vh;text-align: center;color: white;padding-top: 1vh;">
        <span style="font-size: 1.5em;font-family: 'Arial Black', Gadget, sans-serif;">Summary</span>
      </div>
      <div style="width: 100%; background-color: #C0C0C0;text-align: center;">
        <br/>
        <h2>Amount Received</h2>
        <span style="font-size: 2em; color: darkred;"><%= @item.received_quantity %></span>
        <h2>Amount Remaining</h2>
        <span style="font-size: 2em; color: darkred;"><%= @item.current_quantity %></span>
        <h2>Amount Used</h2>
        <span style="font-size: 2em; color: darkred;"><%= @item.received_quantity - @item.current_quantity %></span>
        <h2>Days to Expiry</h2>
        <span style="font-size: 2em; color: darkred;"><%= (@item.expiration_date - Date.current).to_i %> Days</span>
        <br/><br/>
      </div>
    </div>
    <div style="display: table-cell;width: 70vw;height:74vh;">
      <div style="width: 100%; background-color: #006495;height: 4vh;text-align: center;color: white;padding-top: 1vh;">
        <span style="font-size: 1.5em;font-family: 'Arial Black', Gadget, sans-serif;">Pre-packing</span>
      </div>
      <div style="display: table-row; padding-top: 1vh">
        <div class="on-screen">
          <div onmousedown="prepack(6)" class="bttn bttn-primary bttn-lg gradient" type="button">
            Pack of 6
          </div>
        </div>
        <div class="on-screen">
          <div onmousedown="prepack(10)" class="bttn bttn-primary bttn-lg gradient" type="button">
            Pack of 10
          </div>
        </div>
        <div class="on-screen">
          <div onmousedown="prepack(12)" class="bttn bttn-primary bttn-lg gradient" type="button">
            Pack of 12
          </div>
        </div>
        <div class="on-screen">
          <div onmousedown="prepack(15)" class="bttn bttn-primary bttn-lg gradient" type="button">
            Pack of 15
          </div>
        </div>
      </div>
      <div style="display: table-row; padding-top: 1vh">
        <div class="on-screen">
          <div onmousedown="prepack(18)" class="bttn bttn-primary bttn-lg gradient" type="button">
            Pack of 18
          </div>
        </div>
        <div class="on-screen">
          <div onmousedown="prepack(20)" class="bttn bttn-primary bttn-lg gradient" type="button">
            Pack of 20
          </div>
        </div>
        <div class="on-screen">
          <div onmousedown="prepack(30)" class="bttn bttn-primary bttn-lg gradient" type="button">
            Pack of 30
          </div>
        </div>
        <div class="on-screen">
          <div onmousedown="window.location = ''" class="bttn bttn-primary bttn-lg gradient" type="button">
            Other
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer" >
  <button onmousedown="window.location = '/general_inventory/list?drug_id=<%= @item.drug_id %>'" class="nav-bttn green" style="margin-right: 1vw;float: right;">
    <%= t('forms.buttons.finish')%></button>
</div>

<%= form_for :general_inventory, :url => "/general_inventory/#{@item.id}/pre_packing"  do |f| %>
    <input type="hidden" name="bottle_id" id="bottle_id" value="<%= @item.gn_identifier%>"/>
    <input type="hidden" name="pre_pack_amount" id="pre_pack_amount" value="0"/>
<% end %>

<script type="text/javascript">
  function prepack(amount) {
      $('#pre_pack_amount')[0].value = amount;
      document.forms[0].submit();
  }
</script>